body {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}
br {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}
div {
  padding : 0px;
  margin : 0px;
  letter-spacing: -1px;
  line-height: 15px;
}

.div1 {
  float: left;
}
